.card {
  width: 450px;
  margin: 20px;
  border: none;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #666666 !important;
}

.invoice-item {
  margin-top: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header button {
  color: #666666;
  background-color: #E5E5E5;
  border: none;
  border-radius: 50px;
  width: 100px;
}

.card-content {
  margin-left: 60px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table {
  border-spacing: 0;
  width: 90%;
  margin-left: 5%;
  border: none;
  font-size: 12px;
}

.row {
  background-color: #E5E5E5;
  border-bottom: 1px solid transparent;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666666;
}



.box {
  flex: 1;
  padding: 10px;
}
.box2 {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.box3 {
  flex: 1;
  padding: 10px;
  text-align: right;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.green-button {
  font-weight: bold;
  background-color: rgb(92, 117, 59);
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  padding: 8px 16px;
  border: transparent;
  font-size: 15px;
}

.superior-button{
  font-size: 10px;
  height: 20px;
  width: 135px !important;
}

.header{
  background-color: #E5E5E5;
  border-bottom: 1px solid transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.icon-button {
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  padding: 5px;
}

.icon-button-superior {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  padding: 5px;
}

.icon-small {
  height: 15px;
  width: 26px;
  font-size: 18px;
  border-right: 1.2px solid #000;
  margin-right: 5px;
}

.icon-dollar{
  font-size: 50px;
  margin-top: 25px;
  width: 40px;
  height: 50px;
}
.span-icon{
  position: absolute;
  margin-top:0px;
}
.text-fecha{
  font-size: 12px;
}
