::ng-deep .mdc-tab__text-label {
    flex-direction: column !important;
  }

  .service-orders {
      height: 100%;

      display: grid;
      grid-template-columns: 0.7fr 1fr;
      grid-template-rows: 1fr;
  }

  .service-orders__search {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .service-orders__option {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .service-orders__void-destination {
    margin-top: 1rem;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-title {
    width: 1.5rem;
  }

  .title-card {
    width: max-content;
  }

  .card-title {
    font-family: "Gilroy-ExtraBold" !important;
    color: #78909c;
    margin: 0;
  }

  .title {
      padding-top: 1rem;
      color: #78909c;
  }

  .service-orders__main-panel {
    overflow-y: auto;
  }

  .secondary-panel {
    padding-left: 1rem;
  }

  .service-orders__main-panel, .secondary-panel {
      height: 100vh;
  }

  .secondary-panel__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .not-found {
      color: #78909c;
      font-size: 1.3rem;
      text-align: center;
      padding: 1rem;
  }

  button {
      color: #ffffff;
  }

  .load__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .load__action {
    width: 10rem;
    height: 2.5rem;
    border: 0;
    outline: 0;
    padding: 0.3rem 0.6rem;
    margin-left: 0.1rem;
    cursor: pointer;
    font-family: "Gilroy-ExtraBold" !important;
    border-bottom: #636e72 3px solid;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.load__action_lock {
    background-color: #808e9b;
    color: #ffffff;
}


  .load__action_unlock {
    background-color: #D9E3DAff;
    color: #1f5b29;
  }

  .load__action:disabled {
    background-color: #b2bec3 !important;
    color: #636e72 !important;
  }

  .load__action:disabled .cls-3 {
    fill:#636e72;
  }

  .load__action:disabled .cls-2 {
    stroke: #636e72;
  }

  .load__action:disabled .cls-1 {
    fill:#636e72;
  }

  .lock-icon {
    width: 1rem;
    margin-right: 1rem;
  }

  .load__result {
    width: 100%;
    margin-top: 2rem;
    background-color: #fff;
    font-family: "Gilroy-light";
}

.load__result-header {
    width: max-content;
    background-color: #92B975;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.load__result-title {
    font-size: 1.2rem;
    font-family: "Gilroy-light";
    margin: 0;
}

.load__container-list {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none;
    color: #666;
}

.load__container-item {
    width: 100%;
    background-color: #F9F9F9ff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.load__container-item-title {
    font-size: 1.2rem;
}

.badge {
    font-size: 12px;
    padding: 0.1rem 0.5rem;
    background-color: #777;
    color: #fff;
    border-radius: 10px;
}

.load__container-icon {
    font-size: 1rem;
    color: #bdc3c7;
    cursor: pointer;
    transition: 0.25s;
}

.load__container-icon:hover {
    color: #95a5a6;
}

.load__actions-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.load__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

::ng-deep .mdc-data-table__row {
    height: 40px !important;
}

  ::ng-deep .mdc-tab__text-label {
    flex-direction: column !important;
  }

  ::ng-deep .mdc-tab__text-label {
    flex-direction: column !important;
  }

  ::ng-deep .mdc-data-table__header-cell {
    text-align: center !important;
    font-family: "Gilroy-ExtraBold" !important;
    color: #66bb6a;
    font-size: 1rem;
  }

  ::ng-deep .mdc-data-table__row {
    background-color: rgba(223, 230, 233, 0.1) !important;
    border: transparent solid !important;
    border-bottom: 0.25rem transparent solid !important;
  }

  ::ng-deep .mdc-data-table__row:hover {
    background-color: rgba(123, 160, 82, 0.1) !important;
  }

  ::ng-deep .mdc-data-table__row td {
    font-family: "Gilroy-Light";
    color: #666666 !important;
  }

  ::ng-deep .mdc-data-table__row td:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  ::ng-deep .mdc-data-table__row td:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
