.documental-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  width: 100%;
  height: 2.5rem;
  color: #666666;
  border: 1px #7f8c8d solid;
  border-radius: 0.5rem;
  outline: none;
  padding: 0;
  padding-left: 1rem;
  font-size: 1rem;
}

.search-field__action {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field__delete-button {
  background-color: #ffffff;
  color: #95a5a6;
  border-radius: 0.5rem;
  margin-left: 0.2rem;
}

.search-field__search-button {
  background-color: #92B975;
  color: #ffffff;
  border-radius: 0.5rem;
  margin-left: 0.2rem;
}

.search-field__search-button:disabled {
  background-color: #eeeeee;
}

.search__description {
  font-size: 0.8rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  color: #7f8c8d;
}

.input-form {
  width: 100%;

  display: flex;
}
