<div class="documental-search">
    <div class="input-form">
        <input [formControl]="searchControl" class="search-field" type="text" [placeholder]="inputPlaceholder">
        <button (click)="clean()" *ngIf="hasCleanButton" class="search-field__action search-field__delete-button">
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="submit()" *ngIf="hasSearchButton" [disabled]="searchControl.invalid" class="search-field__action search-field__search-button">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <p class="search__description">{{ indication }}</p>
</div>
