.credit-notes {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  background-color: #fafafa;
}

.credit-notes__searcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.credit-notes__customer-searcher {
  width: 100%;
}

.credit-notes__search-button {
  color: #ffffff !important;
  margin-bottom: 1.25rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-family: "Gilroy-Light";
  font-weight: 300;
  margin: 0;
  padding-left: 1rem;
  color: #78909c;
}

.icon-title {
  width: 1.5rem;
}

.primary-panel,
.secondary-panel {
  padding: 1rem;
}

.primary-panel{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.credit-notes__title {
  margin-bottom: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.credit-notes__title-text {
  font-weight: 300;
  margin: 0;
}

.credit-notes__title-icon {
  width: 2rem;
  margin-right: 1rem;
}

.secondary-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 40% auto auto;
  row-gap: 1rem;
}

.export-button {
  color: #ffffff !important;
}

.credit-notes-cross-principal-icon {
  width: 4rem;
  justify-self: center;
  align-self: center;
}

.cross-button-icon {
  width: 2rem;
  margin-right: 1rem;
}

.download-invoices-icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.download-bill {
  width: 100%;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.download-bill-icon {
  width: 1rem;
  cursor: pointer;
}

.table-container {
  height: 40vh;
}

.queries__filter {
  width: 100%;
}

.queries__filter-icon {
  color: #92B975;
}

.selected-items {
  width: 16rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  margin-bottom: 0.1rem;

  border: 2px rgb(227, 227, 227) solid;
  border-radius: 5px;
}

.selected-title {
  font-weight: 500;
}

.selected-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-list-item {
  background-color: #ffffff;
  color: #555555;
  border: 0.5px rgb(227, 227, 227) solid;
  font-size: 1rem;
}

.selected-list-item:hover {
  background-color: rgb(245, 245, 245);
}

.selected-list-scroll {
  height: 6rem;
  overflow-y: scroll;
}

.cross-operation {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.selected-items_compact {
  height: 5rem !important;
}

.selected-total {
  background-color: #ffffff;
  border: 1px rgb(227, 227, 227) solid;
}

.selected-total:hover {
  background-color: rgb(245, 245, 245);
}

.operations {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cross-button {
  margin-left: 1rem;
  color: #ffffff !important;
}

::ng-deep .mdc-tab__text-label {
  flex-direction: column !important;
}

::ng-deep .mdc-tab__text-label {
  flex-direction: column !important;
}

::ng-deep .mdc-data-table__header-cell {
  text-align: center !important;
  font-family: "Gilroy-ExtraBold";
  color: #66bb6a;
  font-size: 1rem;
}

::ng-deep .mdc-data-table__row {
  background-color: rgba(223, 230, 233, 0.1) !important;
  border: transparent solid !important;
  border-bottom: 0.25rem transparent solid !important;
}

::ng-deep .mdc-data-table__row:hover {
  background-color: rgba(123, 160, 82, 0.1) !important;
}

::ng-deep .mdc-data-table__row td {
  font-family: "Gilroy-Light";
  color: #666666 !important;
}

::ng-deep .mdc-data-table__row td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::ng-deep .mdc-data-table__row td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

::ng-deep .error-snackbar .mdc-snackbar__surface {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #721c24 !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #721c24 !important;
}


::ng-deep .success-snackbar .mdc-snackbar__surface {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #155724 !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #155724 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #856404 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #856404 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: transparent !important;
  --mat-mdc-button-persistent-ripple-color: currentColor !important;
}

