<div class="administration-notification-selected">
    <ng-container *ngIf="selectedNotifications.length">
        <mat-card>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    <ng-container i18n="@@884eb5e05bbb2e2658aa2fba276ed3c236f2aae738241f99bbec61239a23e422">
                      config.views.config-notifications.search.PLACE_HOLDER
                    </ng-container>
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.action }}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>
                    <ng-container i18n="@@4d53fd4eaa964acfce4b138f081c10d43099577d33f2860c77edb0a70b0a1c11">
                      config.views.config-notifications.DESCRIPTION
                    </ng-container>
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>

              <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                      <a class="show-information">
                          <mat-checkbox [checked]="element.activo" (change)="matCheckboxChange($event.checked, element.privilegeName)" color="primary"></mat-checkbox>
                      </a>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div class="actions">
            <button mat-flat-button color="primary" class="submit-button" (click)="submit()">
              <ng-container i18n="@@ebc94295e02cb01e14000f384f6a174c059c0f68181bec11d3a0b1228457f92e">
                services.views.modal.confirm.button.ACCEPT
              </ng-container>
            </button>
            <button mat-flat-button (click)="cancel()">
              <ng-container i18n="@@c1c9c168b17220c3bd35feec14abe106f2915d8c0a0d75264c91c8b63584171e">
                config.views.config-restrictions.CANCEL
              </ng-container>
            </button>
        </div>
          </mat-card-content>
        </mat-card>
    </ng-container>
</div>
