<div mat-dialog-content class="content">
  <div class="content-h">
    <h1>Factura Seleccionada para Pago</h1>
  </div>
  <div class="content-c">
    <div class="content">
      <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n="@@ac99f28d8fb2513f331f33bd2af001cddf8744c443f25cea684eaf2d1826d1a1">
                  history.views.modalTotalPayment.NUMBER_TH
                </ng-container>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.finalNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="account">
              <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n="@@960ba100edb65c9f57b6e4aa379d44a8257200e7c9c67b1eaa272c2606042067">
                  history.views.modalTotalPayment.COSTO
                </ng-container>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.totalTotal | currency }}</td>
          </ng-container>

          <ng-container matColumnDef="credit">
              <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n="@@562801e13ef8f77874cad3a5d79e1c7aa594c098551a45d80b5a0f5d88f422b7">
                  history.views.modalTotalPayment.CREDITO
                </ng-container>
              </th>
              <td mat-cell *matCellDef="let element">{{ (element.credits | currency) || ( 0.00 | currency ) }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>
                <ng-container i18n="@@3e3646a6ad58dd41322e6beff84c28e1e5163f906bf602ff8edbf3c41211e60f">
                  history.views.modalTotalPayment.AMOUNT_TH
                </ng-container>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.totalTotal | currency }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; sticky: true"></tr>
      </table>
  </div>


  </div>
  <div class="content-b">
    <button mat-button mat-dialog-close class="color-w">Cancelar</button>
    <button mat-button class="btn-v color-w">Pagar</button>
  </div>
</div>
