
  
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .title-header {
    font-size: 1.2rem;
    font-family: "Gilroy-Light";
    margin: 0;
    padding-left: 1rem;
    color: #78909c;
    font-weight: 300;
  }
  
  .icon-title {
    width: 1.5rem;
  }
  
  .title-card {
    width: max-content;
  }
  
  .card-title {
    font-family: "Gilroy-ExtraBold" !important;
    color: #78909c;
    margin: 0;
  }
  
  .queries__filter {
    width: 100%;
  }
  
  .table-border-rounded {
    width: 100%;
  
    background-color: #f1f2f6;
    border-radius: 0.5rem;
  }
  
  .history-cross__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .history-cross__sub-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
  }
  
  .history-cross__table-header {
    background-color: #92b976;
    color: #ffffff;
  }
  
  .history-cross__table-header-item {
    padding: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .history-cross__table-body-item {
    text-align: center;
  }
  
  .history-cross__table-body-item__darken {
    background-color: #f1f2f6;
  }
  
  .history-cross__table-header-item:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .history-cross__table-header-item:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .history-cross__table-body-item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .history-cross__table-body-item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .history-cross__table-body-outlined:last-child {
    border-right: 1px solid #78909c;
    border-right: 0;
  }
  
  .history-cross__sub-table-header-item {
    padding: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .history-cross__sub-table-header-item:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .history-cross__sub-table-header-item:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .history-cross__sub-table-body-item:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .history-cross__sub-table-body-item:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .history-cross__table-outlined {
    border: 1px solid #78909c;
  }
  
  .history-cross__table-space {
    padding: 0.5rem;
  }
  
  .history-cross__table-space_min {
    padding: 0.25rem;
  }
  
  .history-cross__table-body-item {
    padding: 1rem;
  }
  
  .history-cross__title {
    margin-bottom: 1rem;
  
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
  
  .history-cross__title-text {
    color: #777;
    margin: 0;
    font-weight: 600;
  }
  
  .history-cross__thead {
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .title-icon {
    width: 2rem;
    margin-right: 1rem;
  }
  
  .history-cross__icon-check {
    width: 2rem;
  }
  
  .history-cross__icon-x {
    width: 2rem;
  }
  
  .history-cross__table-actions {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  
  .example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .detail-table {
    background: #b7b7b773;
    text-align: center;
  }
  
  ::ng-deep .mdc-tab__text-label {
    flex-direction: column !important;
  }
  
  ::ng-deep .mdc-tab__text-label {
    flex-direction: column !important;
  }
  
  ::ng-deep .mdc-data-table__header-cell {
    text-align: center !important;
    font-family: "Gilroy-ExtraBold";
    color: #66bb6a;
    font-size: 1rem;
  }
  
  ::ng-deep .mdc-data-table__row {
    background-color: rgba(223, 230, 233, 0.1) !important;
    border: transparent solid !important;
    border-bottom: 0.25rem transparent solid !important;
  }
  
  ::ng-deep .mdc-data-table__row:hover {
    background-color: rgba(123, 160, 82, 0.1) !important;
  }
  
  ::ng-deep .mdc-data-table__row td {
    font-family: "Gilroy-Light";
    color: #666666 !important;
  }
  
  ::ng-deep .mdc-data-table__row td:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  ::ng-deep .mdc-data-table__row td:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  ::ng-deep .error-snackbar .mdc-snackbar__surface {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
  }
  
  ::ng-deep .error-snackbar .mdc-snackbar__surface .mdc-button__label {
    color: #721c24 !important;
  }
  
  ::ng-deep .error-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
    color: #721c24 !important;
  }
  
  ::ng-deep .success-snackbar .mdc-snackbar__surface {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
  }
  
  ::ng-deep .success-snackbar .mdc-snackbar__surface .mdc-button__label {
    color: #155724 !important;
  }
  
  ::ng-deep .success-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
    color: #155724 !important;
  }
  
  ::ng-deep .warning-snackbar .mdc-snackbar__surface {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
  }
  
  ::ng-deep .warning-snackbar .mdc-snackbar__surface .mdc-button__label {
    color: #856404 !important;
  }
  
  ::ng-deep .warning-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
    color: #856404 !important;
  }
  
  ::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: transparent !important;
    --mat-mdc-button-persistent-ripple-color: currentColor !important;
  }

  .manage-history {
    height: 100vh;
  

  }

  .history-pins {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }

  
  .hidden-icon {
    background-color: #9D9C9C;
  }

  ::ng-deep .mdc-data-table__row.active-count-zero {
    background-color: #ECECEC !important; /* Cambia esto al color de fondo que desees */
  }

  
  ::ng-deep .mat-badge.active-count-zero .mat-badge-content {
      background-color: #D0D0CF !important;
      color: black !important;
    }


.badge {
    font-size: 12px;
    padding: 0.1rem 0.5rem;
    background-color: #777;
    color: #fff;
    border-radius: 10px;
    }

.delete-container-display-item__delete {
    width: 1.25rem;
    color: #636e72 !important;
    cursor: pointer;
}

 

  
  