
h1 {
  padding: 1rem;
  margin: 0;
  background-color: #92b976 !important;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.credit-notes__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.credit-notes-check-icon {
  width: 3rem;
}

.credit-notes__title-text {
  font-size: 2rem;
  color: #ffffff;
}

.credit-notes__paragraph {
  width: 50rem;
  padding: 1.5rem;

  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
}

.credit-notes__paragraph-em {
  font-weight: 500;
}

.credit-notes__selected-lists {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit-notes__selected-list {
  width: 30rem;
  padding: 0;
  margin: 0;

  list-style: none;
}

.credit-notes__selected-list-title {
  margin: 0;
  font-weight: 500;
}

.credit-notes__selected-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.credit-notes__invoices-nbr {
  overflow-wrap: anywhere;
}

.credit-notes__arrow-icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.credit-notes__arrow-icon_wrap {
  width: 3rem;
}

.credit-notes__dialog-accept-button {
  color: #ffffff !important;
}

.credit-notes__footer {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
