<div class="administration-user">
  <h1 class="title">
    Crear Usuario
  </h1>

  <div class="create-user-wrapper">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="createForm" class="user-form-form">
          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@22e9cce7b669515bb28be70f7a5005753d230672468adda491300e39b6dfb014">
                  config.views.config-users.navbar.CREATE_NAME_USER_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="username">

              <mat-error class="administration-user-form__form-error" *ngIf="usernameControl.errors && usernameControl.touched && usernameControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="usernameControl.errors && (usernameControl.errors['pattern'] || usernameControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@cd2c25001897a13e3b2c1f4c6e7cd60c38aeb9439a1c5131ab06c613e9b05040">
                  config.views.config-users.navbar.CREATE_ID_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="identification">

              <mat-error class="administration-user-form__form-error" *ngIf="identificationControl.errors && identificationControl.touched && identificationControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="identificationControl.errors && (identificationControl.errors['pattern'] || identificationControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@fb0753b6e84fcc877ef5528598c9225426314844c7314a95e9224320a3fe5726">
                  config.views.config-users.navbar.CREATE_NAME_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="name">

              <mat-error class="administration-user-form__form-error" *ngIf="nameControl.errors && nameControl.touched && (nameControl.errors['required'])">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="nameControl.errors && (nameControl.errors['pattern'] || nameControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@d48921b9793740d9e653591761d4eb41e813f28283e937144751ea2510073827">
                  config.views.config-users.navbar.CREATE_LAST_NAME_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="lastName">

              <mat-error class="administration-user-form__form-error" *ngIf="lastNameControl.errors && lastNameControl.touched && lastNameControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="lastNameControl.errors && (lastNameControl.errors['pattern'] || lastNameControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@67b2d2fca87d290f283ea26317366092de5d6923a123c2c48f4e5117b86d9796">
                  config.views.config-users.navbar.CREATE_MAIL_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="email">

              <mat-error class="administration-user-form__form-error" *ngIf="emailControl.errors && emailControl.touched && emailControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="emailControl.errors && (emailControl.errors['pattern'] || emailControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@5b6f13abc3fa41590845f0892acf7ce19153f8ebb63d241034a7f816c2cbb802">
                  config.views.config-users.navbar.CREATE_COMPANY_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="enterprise" [readonly]="true">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@be9ebb72babaa74b4eb37a3ec266a54e0ea92680f5b34a5102299c07a1b8ad2d">
                  config.views.config-users.navbar.CREATE_POSITION_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="charge">

              <mat-error class="administration-user-form__form-error" *ngIf="chargeControl.errors && chargeControl.touched && chargeControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="chargeControl.errors && (chargeControl.errors['pattern'] || chargeControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="administration-user__input">
              <mat-label>
                <ng-container i18n="@@2d28ba41a63e2fa716cce9b1381d37f78a9d5f88557d30038276bcc9efe1745a">
                  config.views.config-users.navbar.CREATE_CELPHONE_MESSAGE
                </ng-container>
              </mat-label>
              <input matInput type="text" formControlName="phone">

              <mat-error class="administration-user-form__form-error" *ngIf="phoneControl.errors && phoneControl.touched && phoneControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="phoneControl.errors && (phoneControl.errors['pattern'] || phoneControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="user-form-notification">
            <mat-form-field class="administration-user__input">
              <mat-label>Celular segunda clave</mat-label>
              <input matInput type="text" formControlName="notificationPhone">

              <mat-error class="administration-user-form__form-error" *ngIf="notificationPhoneControl.errors && notificationPhoneControl.touched && notificationPhoneControl.errors['required']">
                <mat-icon>close</mat-icon>
                Campo Requerido
              </mat-error>

              <mat-error class="administration-user-form__form-error" *ngIf="notificationPhoneControl.errors && (notificationPhoneControl.errors['pattern'] || notificationPhoneControl.errors['maxlength'])">
                <mat-icon>close</mat-icon>
                Campo Invalido
              </mat-error>
            </mat-form-field>
          </div>

          <mat-checkbox formControlName="Notification" color="primary">
            Desea que el usuario reciba correos de notificación de transacciones?
          </mat-checkbox>

          <span class="administration-user-form__required">
            Todos los campos con (*) son requeridos
          </span>
      </form>

      <div class="user-form-actions">
          <button
          mat-flat-button
          color="primary"
          [appDoubleFactorAuthentication]="'ADM_GU_CU'"
          [appDoubleFactorAPIGateway]="userInfo"
          [doubleFactorDestination]="'destination'"
          [doubleFactorCallback]="submit.bind(this)"
          [doubleFactorIncorrectCallback]="cancel.bind(this)"
          class="submit-button"
          [disabled]="createForm.invalid"
          >
            <ng-container i18n="@@ebc94295e02cb01e14000f384f6a174c059c0f68181bec11d3a0b1228457f92e">
              services.views.modal.confirm.button.ACCEPT
            </ng-container>
          </button>
          <button mat-flat-button (click)="cancel()">
            <ng-container i18n="@@c1c9c168b17220c3bd35feec14abe106f2915d8c0a0d75264c91c8b63584171e">
              config.views.config-restrictions.CANCEL
            </ng-container>
          </button>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
