<h2 mat-dialog-title class="confirm-appointment-message-dialog__title">Alerta</h2>

<mat-dialog-content>
  <p>
    {{message}}
  </p>
  
</mat-dialog-content>

<div mat-dialog-actions>
  <div class="confirm-appointment-message-dialog__actions">
    <button    mat-flat-button color="primary" [mat-dialog-close]="false" >
      Cerrar
    </button>
    <button 
        mat-raised-button 
        (click)="submit()"
        color="primary" 
        class="confirm-appointment-message-dialog__action">Aceptar
        
    </button>
    
  </div>
</div>


