<div mat-dialog-content>
    <p>
        "Estamos enviando la liquidación correspondiente a los servicios que Sociedad Puerto Industrial Aguadulce, ha prestado a su carga. Recibirá su factura en el correo autorizado por usted y su agente"
    </p>
    
    <p>
        Ante cualquier inquietud, comuníquese al teléfono +572 3989330 o escriba a la siguiente dirección electrónica billing@puertoaguadulce.com y servicliente@puertoaguadulce.com.
    </p>

    <hr>
</div>

<div mat-dialog-actions class="invoice-print-messaage__actions">
  <button mat-raised-button [mat-dialog-close]="null" class="invoice-print-messaage__action">Aceptar</button>
</div>
