<div class="administration-second-password">
    <h1 class="title">
      Configuración método de envío de segunda clave
    </h1>

    <mat-card>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Envío de Segunda Clave Vía Correo Electrónico
              </td>
              <td>
                  <mat-checkbox [formControl]="emailControl" color="primary"></mat-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                Envío de Segunda Clave vía SMS
              </td>
              <td>
                  <mat-checkbox [formControl]="smsControl" color="primary"></mat-checkbox>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!(emailControl.value || smsControl.value)"
            [appDoubleFactorAuthentication]="'ADMIN_SECOND_PASS'"
            [appDoubleFactorAPIGateway]="userInfo"
            [doubleFactorDestination]="'destination'"
            [doubleFactorCallback]="submit.bind(this)"
            [doubleFactorIncorrectCallback]="cancel.bind(this)"
            class="submit-button"
          >
            <ng-container i18n="@@ebc94295e02cb01e14000f384f6a174c059c0f68181bec11d3a0b1228457f92e">
              services.views.modal.confirm.button.ACCEPT
            </ng-container>
          </button>
          <button mat-flat-button (click)="cancel()">
            <ng-container i18n="@@c1c9c168b17220c3bd35feec14abe106f2915d8c0a0d75264c91c8b63584171e">
              config.views.config-restrictions.CANCEL
            </ng-container>
          </button>
      </div>
      </mat-card-content>
    </mat-card>
</div>
