<mat-card>
  <mat-card-content>
    <div class="generate-pin">
      <div class="title-card">
          <h2 class="card-title">Generar PIN para el HBL</h2>
          <svg id="Capa_2" class="welcome__line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.36 1.91"><defs><style>.cls-1{fill:#c5c6c8;}.cls-2{fill:#7ba052;}.cls-3{fill:#4b8051;}</style></defs><g id="Capa_1-2"><rect class="cls-2" width="31.37" height="1.91"/><rect class="cls-3" x="26.13" width="28.61" height="1.91"/><rect class="cls-1" x="54.74" width="28.61" height="1.91"/></g></svg>
      </div>

      <p class="generate-pin__caption">
          <span class="generate-pin__caption-bold">
            Para asignar PIN seleccione la Empresa de transporte.
          </span>
      </p>

      <div class="generate-pin__units">
          <!-- <div class="generate-pin__all-units">
              <mat-checkbox color="primary" #multiple class="generate-pin__checkbox" (change)="matChecboxMultipleChange($event, unit)"></mat-checkbox>

              <span class="generate-pin__multiple">Asignación Múltiple</span>

              <ng-container *ngIf="lots">
                <ng-container *ngIf="lots.length">
                  <app-truck-searcher [consigneeId]="lots[0].id" (truckSearch)="multipleTruckSearch($event)"></app-truck-searcher>
                </ng-container>
              </ng-container>
          </div>

          <div class="generate-pin__unit">
            <mat-checkbox color="primary" #unit class="generate-pin__checkbox" (change)="matChecboxUnitChange($event, multiple)"></mat-checkbox>

            <div class="generate-pin__destination">
                <span class="generate-pin__unit-nbr">Destino:</span>
                <span class="generate-pin__unit-nbr generate-pin__unit-nbr_destination">Sin Destino</span>
            </div>

            <ng-container *ngIf="lots">
              <ng-container *ngIf="lots.length">
                <app-truck-searcher [consigneeId]="lots[0].id" (truckSearch)="unitTruckSearch($event)" (cleanTrucker)="clean($event)"></app-truck-searcher>
              </ng-container>
            </ng-container>

            <button mat-mini-fab color="primary" class="generate-pin__data-display" (click)="toggleShowUnits()">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div> -->

          <ng-container *ngIf="lots">
            <ng-container *ngIf="lots.length">
              <app-truck-searcher [consigneeId]="lots[0].id" (truckSearch)="unitTruckSearch($event)" (truckControl)="setTruckFormControl($event)" (cleanTrucker)="clean($event)"></app-truck-searcher>
            </ng-container>
          </ng-container>

        <table mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>Tot Cargo</th>
            <td mat-cell *matCellDef="let element ; let i = index" class="table-cell__right">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Peso</th>
              <td mat-cell *matCellDef="let element" class="table-cell__right">{{ element.weight }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let element" class="table-cell__right">{{ element.quantity }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="generate-pin__actions">
          <button mat-flat-button (click)="cancel()" class="generate-pin__cancel">Cancelar</button>

          <ng-container *ngIf="truckFormControl">
            <button
            mat-raised-button
            color="primary"
            [appDoubleFactorAuthentication]="'CS_IMP_PIN'"
            [appDoubleFactorAPIGateway]="userInfo"
            [doubleFactorCallback]="submit.bind(this)"
            [doubleFactorIncorrectCallback]="cancel.bind(this)"
            *permissions="[privileges.CS_IMP_PIN]"
            [disabled]="truckFormControl.invalid || !truckValid"
            class="generate-pin__submit"
          >
            Generar Pin
          </button>
          </ng-container>
      </div>
  </div>
  </mat-card-content>
</mat-card>
