<div mat-dialog-title class="select-company-type-dialog__title">
    <span class="select-company-type-dialog__header-text">
        Empresas
    </span>
</div>

<div mat-dialog-content class="select-company-type-dialog__content">
    <h3 class="select-company-type-dialog__content-title">
        Ingrese tipo de empresa para gestionar la información
    </h3>

    <mat-form-field class="select-company-type-dialog__input">
        <mat-label>Tipos de Empresa</mat-label>

        <mat-select [formControl]="companyTypeFormControl">
            <mat-option *ngFor="let companyType of companyTypes" [value]="companyType.companyTypeId">
                {{ companyType.companyTypeName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions class="select-company-type-dialog__actions">
    <a mat-flat-button href="/portal/logout" (click)="logout()" class="select-company-type-dialog__logout">
        Logout
    </a>

    <button mat-raised-button color="primary" class="select-company-type-dialog__accept" (click)="submit()" [disabled]="companyTypeFormControl.invalid">
        Ok
    </button>
</div>
