<div class="history-appointments" *ngIf="existData && !showCardAppointment">
    <mat-form-field class="queries__filter">
      <mat-label>Filtro</mat-label>
      <mat-icon matPrefix class="queries__filter-icon">search</mat-icon>
      <input matInput (keyup)="submit($event)" placeholder="Ingrese valor para filtrar" #input>
    </mat-form-field>

    <ng-scrollbar class="manage-history"  (reachedBottom)="onScroll()">
      <table mat-table #invoicesTable [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container matColumnDef="tipoTrx">
          <th mat-header-cell *matHeaderCellDef>Carga</th>
          <td mat-cell *matCellDef="let element" >
            <mat-icon [innerHTML]="getLoadIcon(element.tipoTrx, element.state)"></mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="appointmentNbr">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Número de cita</th>
            <td mat-cell *matCellDef="let element" (click)="clickAppointment(element)">{{ element.appointmentNbr }}</td>
        </ng-container>
        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Placa</th>
            <td mat-cell *matCellDef="let element" (click)="clickAppointment(element)">{{ element.placa }}</td>
        </ng-container>
        <ng-container matColumnDef="conductor">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Conductor</th>
            <td mat-cell *matCellDef="let element" (click)="clickAppointment(element)">{{element.license}}:{{ element.conductor }}</td>
        </ng-container>
        <ng-container matColumnDef="cita">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Fecha cita</th>
            <td mat-cell *matCellDef="let element" (click)="clickAppointment(element)">{{ element.cita }}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [innerHTML]="getLoadIconState(element.state)"></mat-icon>
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="(row.state === 'CANCEL' || row.state === 'USED') ? 'active-count-zero' : (row.siteAppointment === 'EXTERNO1') ? 'active-external-patio-one' :
                                                                                (row.siteAppointment === 'EXTERNO2') ? 'active-external-patio-two': (row.siteAppointment === 'EXTERNO3') ? 'active-external-patio-tre':  ''"></tr>
      
      </table>
    </ng-scrollbar>
</div>
<div *ngIf="showCardAppointment">
  <app-card-appointment [origen]="'history'"></app-card-appointment>
</div>