<h1 class="legal-notices-dialog" mat-dialog-title>
  <ng-container i18n="@@d96e3ea92425b0680fe23ae0c40175d3a191cdeab66d71405d1cf80b74ee30c4">
    modalDocumental.ALERT
  </ng-container>
</h1>
<div mat-dialog-content>
    <p i18n="@@926acb36bf1b6469927204972ee9659933eea37221acd4e22c7797c81f120b99">
      modalDocumental.approved
    </p>
</div>
<div mat-dialog-actions class="legal-notices-dialog__footer">
  <button class="legal-notices-dialog__accept-button" [mat-dialog-close]="true" mat-button mat-raised-button mat-dialog-close color="primary">
    <ng-container i18n="@@b56060cf0b50f1883947502298776bb3be1c2a9e0c2c9ee9f16f82fd5f0025c2">
      modalSkipRule.EDICION.ACEPT
    </ng-container>
</button>
  <button mat-button [mat-dialog-close]="false">
    <ng-container i18n="@@301fae255d3504dccda5577273a62f2a172ae84dd855eadb7bfbe1d00bfd2a0b">
      modalAppointment.CANCEL
    </ng-container>
  </button>
</div>
