.billing {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

.billing__customer-searcher {
  width: 100%;
}

.queries__filter {
  width: 100%;
}

.billing__search {
  list-style: none;
  margin: 0;
}

.billing__payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing__payment-button {
  width: max-content;
  color: #ffffff !important;
}

.billing__payment-button_unique {
  width: 1.5rem;
}

.billing__payment-button_unique_disabled {
  fill: #f2f2f2 !important;
}

.billing__payment-button_unique:first-child {
  margin-right: 1rem;
}

.billing__field {
  width: 100%;
}

.billing__date-search {
  margin-top: 2rem;
}

.billing__search-item {
  font-weight: 300;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing__search-item_search-button {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.billing__search-button-item {
  width: 100%;
  font-weight: 300;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.billing__criteria-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing__criteria-input-field {
  width: 100%;
}

.billing__criteria-caption {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #78909c;
}

.billing__criteria-caption_background {
  background-color: #f4f4f4;
}

.billing__field-button {
  width: 7rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 0.2rem;
  background-color: #92B975;
  color: #ffffff;
  transition: background-color 0.2s;
  font-size: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.billing__field-button:disabled {
  background-color: #999;
}

.billing__field-button-icon {
  width: 2rem;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-family: "Gilroy-Light";
  margin: 0;
  padding-left: 1rem;
  color: #78909c;
  font-weight: 300;
}

.icon-title {
  width: 1.5rem;
}

.title-card {
  width: max-content;
}

.card-title {
  font-family: "Gilroy-ExtraBold" !important;
  color: #78909c;
  margin: 0;
}

::ng-deep .mdc-tab__text-label {
  flex-direction: column !important;
}

::ng-deep .mdc-tab__text-label {
  flex-direction: column !important;
}

::ng-deep .mdc-data-table__header-cell {
  text-align: center !important;
  font-family: "Gilroy-ExtraBold";
  color: #66bb6a;
  font-size: 1rem;
}

::ng-deep .mdc-data-table__row {
  background-color: rgba(223, 230, 233, 0.1) !important;
  border: transparent solid !important;
  border-bottom: 0.25rem transparent solid !important;
}

::ng-deep .mdc-data-table__row:hover {
  background-color: rgba(123, 160, 82, 0.1) !important;
}

::ng-deep .mdc-data-table__row td {
  font-family: "Gilroy-Light";
  color: #666666 !important;
}

::ng-deep .mdc-data-table__row td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::ng-deep .mdc-data-table__row td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

::ng-deep .error-snackbar .mdc-snackbar__surface {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #721c24 !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #721c24 !important;
}


::ng-deep .success-snackbar .mdc-snackbar__surface {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #155724 !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #155724 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #856404 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #856404 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: transparent !important;
  --mat-mdc-button-persistent-ripple-color: currentColor !important;
}
