.section__form {
  font-weight: bold;
  font-size: 1.1rem;
}

.edit-input {
  color: #66bb6a;
}

.my--form {
  overflow: hidden;
}

::ng-deep .mdc-tab__text-label {
  flex-direction: column !important;
}

.containerized-load__tab-icon {
  width: 1rem;
}

.containerized-load__tab-icon path {
  width: 1.5rem;
  fill: rgba(0, 0, 0, 0.6);
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .containerized-load__tab-icon path,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .containerized-load__tab-icon path {
  fill: #66bb6a;
}

.title {
  padding-top: 1rem;
  color: #78909c;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-title {
  width: 1.5rem;
}

.card-title {
  font-family: "Gilroy-ExtraBold" !important;
  color: #78909c;
  margin: 0;
}

.secondary-panel {
  padding: 1rem;
}

button {
  color: #ffffff;
}

.submit-button {
  margin: 0 0.25rem 0 0.25rem;
  color: #ffffff !important;
}

::ng-deep .mdc-data-table__header-cell {
  text-align: center !important;
  font-family: "Gilroy-ExtraBold";
  color: #66bb6a;
  font-size: 1rem;
}

::ng-deep .mdc-data-table__row {
  background-color: rgba(223, 230, 233, 0.1) !important;
  border: transparent solid !important;
  border-bottom: 0.25rem transparent solid !important;
}

::ng-deep .mdc-data-table__row:hover {
  background-color: rgba(123, 160, 82, 0.1) !important;
}

::ng-deep .mdc-data-table__row td {
  font-family: "Gilroy-Light";
  color: #666666 !important;
}

::ng-deep .mdc-data-table__row td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer !important;
}

::ng-deep .mdc-data-table__row td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

::ng-deep .error-snackbar .mdc-snackbar__surface {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #721c24 !important;
}

::ng-deep .error-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #721c24 !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #155724 !important;
}

::ng-deep .success-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #155724 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mdc-button__label {
  color: #856404 !important;
}

::ng-deep .warning-snackbar .mdc-snackbar__surface .mat-mdc-snack-bar-label {
  color: #856404 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: transparent !important;
  --mat-mdc-button-persistent-ripple-color: currentColor !important;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

.form-section {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

h3,
h4 {
  margin-top: 20px;
}

.select__option {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-bottom: 0.5rem;
}

mat-form-field {
  margin-top: 0.5rem;
}

.administration-user-form__required {
  font-size: 0.7rem;
  color: #666666;
}

.business-management__input {
  width: 100%;
}

.business-managemen-form__form-error {
  color: #d63031;
  margin: 0;
  display: flex;
  align-items: center;
}

.mat-expansion-panel {
  color: #071451 !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.mat-mdc-form-field-hint {
  font-weight: bold !important;
  font-size: 0.8rem !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(184 14 14 / 87%) !important;
}

.my--form__margin {
  margin-top: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.my--form__two--columns {
  display: flex;
  gap: 0.5rem;
}

.my--form__two--columns .mat-form-field {
  flex: 1 !important;
}