.header {
    margin-top: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accept-button {
    color: #ffffff !important;
}

.key-input {
    width: 100%;
}

.actions {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error-message {
    color: #e74c3c;
}
