<ng-container *ngIf="user">
  <mat-card>
    <mat-card-content>
      <h1 class="title">
        Reseteo de Contraseña: {{ user.userName }}
      </h1>

  <p i18n="@@a723167163d1a58df765ee4faa7543a333f3ac3308e2b59a71e1e8601ad2669c">
    config.views.config-users.navbar.RESET_PASSWORD_GENERAL_MESSAGE
  </p>

  <div class="user-data">
    <div>
      <label i18n="@@cd09e4b6daeec5f7493606683f946bddce7a0b86ad84d070521cb3f39042b5bb">
        config.views.config-users.navbar.RESET_PASSWORD_NAME_USER_MESSAGE
      </label>
      <div *ngIf="user.userName"  class="phone-number-container">
        {{ user.userName }}
      </div>
    </div>

  <div>
    <label i18n="@@a16f100db7ea0a3ddcab04c025b5d8433ae92343ee0aa0c162d5766af015dd30">
      request.management.views.new.label.MAIL
    </label>
      <div class="phone-number-container">
        {{ user.correo }}
      </div>
    </div>

    <div>
      <label i18n="@@fb0753b6e84fcc877ef5528598c9225426314844c7314a95e9224320a3fe5726">
        config.views.config-users.navbar.CREATE_NAME_MESSAGE
      </label>
      <div class="phone-number-container">
        {{ user.nombres }}
      </div>
    </div>

    <div>
      <label i18n="@@d48921b9793740d9e653591761d4eb41e813f28283e937144751ea2510073827">
        config.views.config-users.navbar.CREATE_LAST_NAME_MESSAGE
      </label>
      <div class="phone-number-container">
        {{ user.apellidos }}
      </div>
    </div>
  </div>

  <div class="user-form-actions">
      <button *permissions="[privileges.ADM_GU_RC_RESET]" mat-flat-button color="primary" class="submit-button" (click)="submit()">
        Resetear
      </button>
      <button mat-flat-button (click)="cancel()">
        <ng-container i18n="@@c1c9c168b17220c3bd35feec14abe106f2915d8c0a0d75264c91c8b63584171e">
          config.views.config-restrictions.CANCEL
        </ng-container>
      </button>
  </div>
    </mat-card-content>
  </mat-card>
</ng-container>
